@import '@styles/mixins';
.container {
  margin-top: 28px;
  .noUnderline {
    text-decoration: none;
  }
  .box {
    @include flex($direction: column, $gap: 16px);
    margin-top: 32px;
  }
  .signIn {
    margin-top: 220px;
    text-align: center;
  }
}
