@import '@styles/mixins';

.imgContainer {
  img {
    @include position($top: 150px);
    width: 100%;
  }
}
.container {
  @include flex($justify: flex-end, $direction: column);
  text-align: center;
  margin-top: 200px;

  .margins {
    text-align: center;
    margin: 320px 0 80px 0;
  }
}
