@import '@styles/mixins';

.container {
  .noUnderline {
    text-decoration: none;
  }
  .title {
    margin: 30px 0 8px 0;
  }
  .emailAuth {
    @include flex($align: flex-end, $direction: column, $gap: 16px);
    margin: 32px 0 48px 0;
  }
  .socialAuth {
    text-align: center;
  }
  .authButtons {
    @include flex($align: flex-end, $direction: column, $gap: 16px);
    margin: 48px 0 50px 0;
  }
}
