@import '@styles/variables';

body {
  background-color: $purple;
}
.container {
  font-size: 84px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  position: relative;
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
  img {
    position: absolute;
    left: -30px;
    bottom: -10px;
    animation: blink 2s infinite;
    &:last-of-type {
      animation-delay: 1s;
      right: -30px;
      top: -5px;
      left: unset;
      bottom: unset;
    }
  }
}
.text {
  span {
    animation: text 1s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
  .red {
    color: $red;
  }
  .yellow {
    color: $yellow;
  }
  .aqua {
    color: $aqua;
  }
  .fuchsia {
    color: $fuchsia;
  }
  .tangerine {
    color: $tangerine;
  }
}
@keyframes text {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 0.2rem #e37070);
    transform: scale(1.1);
  }
}
