@import '@styles/mixins';

.container {
  @include flex($direction: column);
  text-align: center;
  margin-top: 50px;

  .margins {
    text-align: center;
    margin: 34px 0 60px 0;
    max-width: 216px;
  }
  .firstToKnowTitle {
    margin-top: 24px;
  }
}
