@import '@styles/mixins';

.container {
  @include flex($align: flex-start, $direction: column, $gap: 12px);
  margin: 32px 0 24px 0;
  .category {
    position: relative;
    width: 100%;

    .imageWrapper {
      width: 100%;

      img {
        height: 122px;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
    }
    .categoryName {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white-primary-color);
    }
  }

  .overlay {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -51%);
    background: rgba(71, 90, 215, 0.7);
    height: 122px;
    border-radius: 12px;
  }
}
