@import '@styles/mixins';
.container {
  @include flex;
  width: 100%;
  height: 100%;
  background-color: var(--white-primary-color);
  font-size: 84px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  position: relative;
  span {
    display: inline-block;
    margin: 0 -0.05em;
    padding: 10px;
  }
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    animation: blink 2s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 0.2rem var(--purple-primary-color));
    transform: scale(1.1);
  }
}
