@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  --black-primary-color: #333647;
  --grey-primary-color: #7c82a1;
  --purple-primary-color: #475ad7;
  --purple-secondary-color: #644cdc;
  --gray-secondary-color: #6c6f85;
  --black-lighter-color: #555a77;
  --gray-lighter-color: #f3f4f6;
  --gray-darker-color: #666c8e;
  --letter-coral-color: #e37070;
  --error-red-color: #ff453a;
  --letter-yellow-color: #edc127;
  --letter-tangerine-color: #fba017;
  --letter-fuchsia-color: #e10fe5;
  --letter-aqua-color: #25f2ff;
  --white-primary-color: #fff;

  /* Input */
  --input-focus-border-color: var(--primary-color);
}
* {
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
