@import '@styles/mixins';

.container {
  a:hover {
    cursor: pointer;
  }
  .title {
    margin: 30px 0 8px 0;
  }
  .emailAuth {
    @include flex($align: flex-end, $direction: column, $gap: 16px);
    margin: 32px 0 420px 0;
  }
  .socialAuth {
    text-align: center;
  }
}
